<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atrás" default-href="#" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title>StepMeter<ion-icon name="footsteps"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true" class="ion-padding">
    <form (submit)="formAccess()" class="form">

      <div class="title">
        <h1>Registrate</h1>
        <p>¡Estás a un paso de Empezar tu Aventura Fitness!</p>
      </div>
    
      <ion-list>
        <ion-item lines="none" class="inputs">
          <ion-input 
            label="Nombre de usuario" 
            labelPlacement="floating" 
            placeholder="¡Tu alias en StepMeter!" 
            type="user"
            id="user"
            name="user"
            [(ngModel)]="user">
          </ion-input>
        </ion-item>
    
        <ion-item lines="none" class="inputs">
          <ion-input 
            label="Contraseña" 
            labelPlacement="floating"
            type="password"
            id="password"
            name="password"
            [(ngModel)]="password">
          </ion-input>
        </ion-item>
    
        <ion-item lines="none" class="inputs">
          <ion-input 
            label="Confirma tu contraseña" 
            labelPlacement="floating"
            type="password"
            id="rePassword"
            name="rePassword"
            [(ngModel)]="rePassword">
          </ion-input>
        </ion-item>

        <ion-item lines="none" class="inputs">
          <p>Fecha de nacimiento |</p>
          <ion-datetime-button datetime="datetime"></ion-datetime-button>
        
          <ion-modal [keepContentsMounted]="true">
            <ng-template>
              <ion-datetime
                id="datetime"
                presentation="date"
                value="2023-11-02T01:22:00"
                color="dark"
              ></ion-datetime>
            </ng-template>
          </ion-modal>
        </ion-item>   

      </ion-list>
    

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button type="submit">
        Registrarse
      </ion-button>
      
    </form>    
  </ion-content>

  <ion-footer>
    <ion-toolbar class="footer">
      <p>StepMeter | Todos los derechos reservados</p>
    </ion-toolbar>
  </ion-footer>

</ion-app>