<ion-app>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atrás" default-href="#" color="dark"></ion-back-button>
      </ion-buttons>
      <ion-title>StepMeter<ion-icon name="footsteps"></ion-icon></ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <form class="form">

      <div class="title">
        <h1><ion-icon name="lock-closed"></ion-icon></h1>
        <h1>¿Has perdido tu contraseña?</h1>
        <p>Ingresa tu correo electrónico, teléfono o nombre de usuario y te enviaremos un enlace para que recuperes el acceso a tu cuenta.</p>
      </div>
    
      <ion-list>
        
        <ion-item lines="none" class="inputs">
          <ion-input 
            label="Nombre de usuario" 
            labelPlacement="floating" 
            placeholder="¡Tu alias en StepMeter!" 
            id="user">
          </ion-input>
        </ion-item> 

      </ion-list>
    

      <ion-modal [keepContentsMounted]="true">
        <ng-template>
          <ion-datetime id="datetime"></ion-datetime>
        </ng-template>
      </ion-modal>

      <ion-button type="submit">
        Registrarse
      </ion-button>
      
    </form>    
  </ion-content>

  <ion-footer>
    <ion-toolbar class="footer">
      <p>StepMeter | Todos los derechos reservados</p>
    </ion-toolbar>
  </ion-footer>

</ion-app>