// Todo el estilado para login.page.html

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    }

.login-title {
    text-indent: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 40px;
}

ion-button{
    --color:black;
}
