<ion-app>
  <ion-content class="ion-padding">
    <form (submit)="formAccess()" class="login-form">

      <h1 class="login-title">StepMeter<ion-icon name="footsteps"></ion-icon></h1>
      
      <ion-list>
        <ion-item lines="none" class="inputs">
          <ion-input 
            type="user"
            labelPlacement="floating"
            name="user"
            id="user"
            [(ngModel)]="user"
            expand="full"
          >
            <div slot="label">Nombre de usuario</div>
          </ion-input>
        </ion-item>
      </ion-list>
  
      <ion-list>
        <ion-item lines="none" class="inputs">
          <ion-input 
            type="password"
            labelPlacement="floating"
            name="password"
            id="password"
            [(ngModel)]="password"
            expand="full"
          >
            <div slot="label">Contraseña</div>
          </ion-input>
        </ion-item>
      </ion-list>
  
      <ion-button 
        type="submit"
      >
        Enviar
      </ion-button>

        <div class="anchords">
          <a routerLink="/password-recovery">¿Has olvidado tu contraseña?</a>
        </div>
        <div class="anchords">
          <a routerLink="/register">No tengo cuenta</a>
        </div>

    </form>
  </ion-content>

  <ion-footer>
    <ion-toolbar class="footer">
      <p>StepMeter | Todos los derechos reservados</p>
    </ion-toolbar>
  </ion-footer>
  
</ion-app>