<ion-app>
  
  <ion-header>
    <ion-toolbar class="ion-toolbar">
      <ion-title>Iniciar sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <form (submit)="formAccess()" class="login-form">
      <ion-list>
        <ion-item>
          <ion-input 
            type="email"
            labelPlacement="floating"
            name="email"
            [(ngModel)]="email"
            required
          >
            <div slot="label">Correo electrónico</div>
          </ion-input>
        </ion-item>
      </ion-list>
  
      <ion-list>
        <ion-item>
          <ion-input 
            type="password"
            labelPlacement="floating"
            name="password"
            [(ngModel)]="password"
            required
          >
            <div slot="label">Contraseña</div>
          </ion-input>
        </ion-item>
      </ion-list>

      <ion-item lines="none">
        <ion-button fill="clear" routerLink="/password-recovery">
          ¿Olvidaste tu contraseña?
        </ion-button>
      </ion-item>
  
      <ion-button expand="full" type="submit">
        Enviar
      </ion-button>
    </form>
  </ion-content>

  <!-- Footer -->
  <ion-footer>
    <ion-toolbar color="light" class="footer">
      <ion-title class="footer-text">Todos los derechos reservados</ion-title>
    </ion-toolbar>
  </ion-footer>

</ion-app>
